.mainLogin {
  overflow: hidden;
  background: url("https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
}

.loginForm {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTitle {
  font-size: 50px;
}

.emailInput {
  margin-top: 10px;
  /* font-size: 354px; */
  padding: 25px;
  font-size: 25px;
  border: none;
  outline: none;
}
.emailInput:focus {
  border: none;
}
.passwordInput {
  margin-top: 10px;
  padding: 25px;
  font-size: 25px;
  border: none;
  outline: none;
}
.loginBtn {
  /* display: flex; */
  /* width: max-content; */
  padding: 25px 30px;
  width: 350px;
  border: none;
  font-size: 25px;
  background-color: aquamarine;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}
