.sidebar {
  flex: 3;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.abouImage {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
}
